<h3>All Codes</h3>
<div class="collection">
  <div class="collection-item avatar">
    <div class="row">
      <div class="col s1"> <i class="small material-icons white circle" style></i> </div>
      <div class="col s3"> <h5 class="blue-text text-darken-2">Floor</h5> </div>
      <div class="col s3"> <h5 class="blue-text text-darken-2">Code</h5> </div>
      <div class="col s3"> <h5 class="blue-text text-darken-2">Date</h5> </div>
    </div>
  </div>

  <% @codes.each do |code| %>
    <a href="<%= code_path(code.id) %>" class="collection-item avatar">
      <div class="row">
        <div class="col s1"><i class="mini material-icons teal accent-2 circle" style>vpn_key</i></div>
        <div class="col s3"><h6 class="large black-text"> <%=code.floor.upcase%></h6></div>
        <div class="col s3"><h6 class="large black-text"><%=code.code%></h6></div>
        <div class="col s3"><h6 class="large black-text"><%=code.date_string%></h6></div>  
      </div>
    </a>
  <% end %>
</div>